<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/chatgpt_image_apr_26__2026__12_52_28_pm"
        android:label="@string/app_name"
        android:roundIcon="@drawable/chatgpt_image_apr_26__2026__12_52_28_pm"
        android:supportsRtl="true"
        android:theme="@style/Theme.Connecta4">

        <activity android:name="udl.adm.connecta4.activities.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="udl.adm.connecta4.activities.AjudaActivity" />
        <activity android:name="udl.adm.connecta4.activities.ConfiguracioActivity" />
        <activity android:name="udl.adm.connecta4.activities.JocActivity" />
        <activity android:name="udl.adm.connecta4.activities.ResultatsActivity" />

    </application>

</manifest>